block top-slider
    .main-slider
      -for(var i=0; i < 5; i++)
        .main-slider_item
          .inner
            a(href="#").get-price Скачать прайс-лист
            .main-slider_item_info
              .title Протирочный материал
              .title-small с уникальным антибактериальным эффектом
              .txt Протирочный материал с уникальным антибактериальным эффектом на малекулярном уровне -многоразовое использование, многочисленные стирки с сохранением потребительских свойств.
              a(href="#").order.red Заказать
          img(src="img/img-1.png")