extends ../layout/base.pug
block prepend head
  -var title = '404 error. Страница не найдена.';
block main
  .inner
    +breadcrumbs(['Соглашение об обработке персональных данных'])
    h1 Соглашение об обработке персональных данных
    -for(var i=0; i < 12; i++)
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquid aperiam asperiores atque autem cumque, deleniti dicta doloremque et harum iure natus numquam suscipit tenetur vel vitae voluptatibus voluptatum.