script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script(src='https://www.google.com/recaptcha/api.js')
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
script(src='assets/js/foundation.min.js')
script(src='assets/js/jquery.maskedinput.min.js')
script(src='assets/js/jquery.mCustomScrollbar.js')
script(src='assets/js/slick.js')
script(src='assets/js/fancybox.js')
script(src='assets/js/main.js')