$alabaster: #4b4b4b;
$nobel: #b6b6b6;
$cust-red: #ff0000;
$gallery: #f0f0f0;
$alizarin-crimson: #e41f26;
$cust-gray: #8f8f8f;
$ebb: #f2efef;
$cur-white: #ffffff;
$sunflower: #dec12d;
$seashell: #f1f1f1;
$tundora: #4b4b4b;
$dove-gray: #636363;
$silver: #c0c0c0;
$golden-grass: #d3b621;
$black: #000000;
$alabaster-light: #f8f8f8;
$font-base: 'Montserrat', Helvetica, Roboto, Arial, sans-serif;

$color-light-brown: #fff;
/*
$clr-base:   hsl(  0, 100%, 50%);
$clr-header: adjust-hue(desaturate(darken($clr-base, 2%), 10%), 8);
$clr-button: adjust-hue(lighten($clr-base, 3%), 17);
$clr-link:   adjust-hue(desaturate(darken($clr-base, 2%), 10%), -30);
$clr-hover:  adjust-hue(lighten($clr-base, 3%), -60);*/
